<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>White Elephant</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/angular.min.js"></script>
  </head>

  <body ng-app="whiteElephantApp" ng-controller="whiteElephantCtrl">
    <div class="container">

      <div id="setupGame" ng-show="currentState == 0">
        <input name="nameToAdd" type="text" class="form-control" ng-model="nameToAdd" ng-keypress="nameInputEnterKey($event)">
        <button type="button" class="btn btn-default" ng-click="addName(nameToAdd)">Add</button>
        <button type="button" class="btn btn-default" ng-click="startGame()">Play</button>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="name in names track by $index">
            <td>{{ name }}<td>
            <td><button class="btn pull-right" ng-click="deleteName(name)">x</button></td>
          </li>
        </ul>
      </div>

      <div id="playGame" ng-show="currentState == 1">
        <div class="btn-group">
          <button type="button" class="btn btn-default" ng-click="decrementCurrentIndex()">Previous</button>
          <button type="button" class="btn btn-default" ng-click="incrementCurrentIndex()">Next</button>
          <button type="button" class="btn btn-default" ng-click="resetGame()">Reset Game</button>
          <button type="button" class="btn btn-default" ng-click="endGame()">End Game</button>
        </div>
        

        
        
        <h3>remaining players: {{ names.length - (currentIndex+1) }}</h3>
        <h1>{{ currentIndex < 0 ? '' : names[currentIndex] }}</h1>
      </div>

    </div>

    <script>
    var app = angular.module('whiteElephantApp', []);
    app.controller('whiteElephantCtrl', function($scope) {

      // general
      $scope.currentState = 0;
      $scope.names = [];

      // in game
      $scope.currentIndex = -1;

      $scope.nameInputEnterKey = function($event) {
        var keyCode =  $event.which || $event.keyCode;
        if (keyCode == 13) {
          $scope.addName($scope.nameToAdd);
        }
      }

      $scope.addName = function(name) {
        if (name.length > 0 && $scope.names.indexOf(name) == -1) {
          $scope.names.push(name);
          $scope.nameToAdd = '';
        }
      };

      $scope.deleteName = function(name) {
        var willDelete = confirm("Are you sure you want to delete " + name + "?");

        if (willDelete) {
          var index = $scope.names.indexOf(name);
          if (index != -1) {
            $scope.names.splice(index,1);
          }
        }
      }

      $scope.incrementCurrentIndex = function() {
        if ($scope.currentIndex < $scope.names.length-1)
          $scope.currentIndex++;
      }

      $scope.decrementCurrentIndex = function() {
        if ($scope.currentIndex >= 0)
          $scope.currentIndex--;
      }

      $scope.shuffle = function(inputList) {
        // Fisher-Yates algorithm

        for (var i = inputList.length-1; i > 0; i--) {
          j = Math.floor(Math.random() * (i));

          // swap strings
          inputList[i] = inputList[i] + inputList[j];
          inputList[j] = inputList[i].substring(0, inputList[i].length - inputList[j].length);
          inputList[i] = inputList[i].substring(inputList[j].length, inputList[i].length);
        }
      }

      $scope.startGame = function() {
        if ($scope.currentState == 0) {
          if ($scope.names.length > 0) {
            $scope.currentState = 1;
            $scope.shuffle($scope.names);
          } else {
            alert ('there are no players!');
          }
        }
      }

      $scope.resetGame = function() {
        // ask to shuffle
        $scope.shuffle($scope.names);
        $scope.currentIndex = -1;
      }

      $scope.endGame = function() {
        $scope.names = [];
        $scope.currentState = 0;
      }

    });
    </script>
  </body>
</html>
